

<!-- Pass in data from server.js -->
<div class="container mt-4">
    <h1>Burger App</h1>

<form class="create-burger">

<div class="input-group mb-3">
  <input type="text" id="burg" class="form-control" placeholder="Add a burger...">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Submit</button>
  </div>
</div>
</form>

<div class="inner mt-5">
    <div class="uneaten">
    <h5>My Burgers</h5>
    <ul>
    {{#each burgers}}
        <li>
        <p>{{this.burger_name}}</p>

        <button data-name="{{this.burger_name}}" data-id="{{this.id}}" class="devour-button btn btn-outline-danger delquote float-right">Devour</button>

        </li>
    {{/each}}
    </ul>
    </div>
    <div class="eaten">
    <h5>Burgers Eaten</h5>
    <ul>
    {{#each burgerseaten}}
        <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
        </li>
    {{/each}}
    </ul>
    </div>
</div>
</div>